/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

html {
    background-color: lightgreen;
}



.wrap-all {
    max-width: 1000px;
    margin: 0 auto;



}

.outer-wrap-header {
    border-bottom: 2px solid black;
}

ul {
    font-style: oblique;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}


.wrap-sidebar .block{
    margin-left: 600px;

    
    border: 1px solid black;

}
img {
    max-width:100%;
    max-height:100%;
}

.footer-column-x {


    /* margin: auto; */
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 100%;
    border-right: 1px solid #EEE;
    background-color: green;
    margin: auto;
    float: left;

}
.footer-column-x h4 {
    width: 200px;

}
.footer-column-1 {

    width: 33%;
}
.footer-column-2 {
    width: 33%;

}

.footer-column-3 {
    width: 33%;
    border-right: none;

}


.region-header-col-1 a {
    font-style: italic;
    color: grey;
    font-size: xx-large;
}

.block.toc {
    margin-left: 0px;
}
